<div class="yrobox">
  {% if image_url %}
    <img src="{{ image_url }}" class="yrobox-image" />
  {% endif %}

  <span class="yrobox-title">{{ title }}</span>

  <p class="yrobox-description">{{ description }}</p>

  <a href="http://www.facebook.com" class="yrobox-button">{{ button_text }}</a>
</div>
