<nav class="basic-page-navbar">
yrotic
  <ul>
    {% for item in items %}
      <li class="nav-item">
        <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
