<body>
<header class="site-header1">
  <div class="">
    {{ page.header }}
  </div>
</header>

<main class="site-content">
  {{ page.content }}
</main>

<footer class="site-footer1">
  <div class="container">
    <p>© {{ "now"|date("Y") }} {{ site_name }}</p>
  </div>
</footer>

</body>
