{# full-page template #}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {{ head }}
    {{ attach_library('core/drupal.dialog.ajax') }}
  </head>
  <body>
    <div class="login-wrapper">
      {{ form }}
    </div>
  </body>
</html>
